/* Global style for the entire application */
.App {
  font-family: 'Helvetica Neue', sans-serif;
  background-color: #f4f4f4; /* background color */
  color: #333; /* text color */
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  position: relative; /* To locate the Logo */
}

/* Add the Logo and place it in the top left corner */
.App-logo {
  position: absolute;
  top: 10px;
  left: 10px;
  height: 100px; /* Reduce the height xf of the Logo */
  width: auto;  /* Automatic width adjustment */
}

/* Grid layout style */
.grid {
  display: grid;
  grid-template-columns: repeat(5, 50px); /* 5 columns, 50px each */
  grid-template-rows: repeat(5, 50px);    /* 5 lines, 50px each */
  gap: 2px; /* The spacing between cells */
  margin: 10px 0; /* Reduce the spacing between the grid and the header */
}

/* The style of a single grid cell */
.cell {
  width: 50px;
  height: 50px;
  border: 1px solid #ccc;
}

/* Controls the style of the button area */
.controls {
  margin: 10px; /* Reduce the margin of the control area */
}

/* Button style  */
.button {
  background-color: #ffa500; /* The background color of the button */
  border: none; /* Remove the default border*/
  color: white; /* The text color of the button */
  padding: 8px 16px; /* Reduce the inside margin of the button */
  margin: 5px; /* Reduce the margin of the button */
  cursor: pointer; /* The hand cursor is displayed when the mouse is hovering */
  font-size: 14px; /* Reduce the button font size */
  border-radius: 4px; /* Round corners of buttons */
  transition: background-color 0.3s ease; /* The background color changes when the mouse is hovering */
}

/* Button hover effect */
.button:hover {
  background-color: #ff8c00; /* The background color when the mouse is hovering */
}

.robot {
  background-color: #ffa500;
  position: relative; /* Allows absolute positioning of internal elements */
}

.robot .head {
  position: absolute;
  background-color: white;
  width: 10px;
  height: 2px; 
}

.robot.north .head {
  top: 5px; /*The line at the top is north */
  left: 50%;
  transform: translateX(-50%);
}

.robot.south .head {
  bottom: 5px; /* The line at the bottom is south */
  left: 50%;
  transform: translateX(-50%);
}

.robot.east .head {
  right: 5px; /* The line at the right is east */
  top: 50%;
  transform: translateY(-50%);
}

.robot.west .head {
  left: 5px; /* The line on the left is west */
  top: 50%;
  transform: translateY(-50%);
}





